@charset "UTF-8";

@font-face{
    font-family: 'Android';
    src: url('fonte/idroid.otf') format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor0: #ebe5c5;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte-padrao: Arial,Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao );
}


header{
    padding-top: 40px;
    text-align: center;
    min-height: 150px;
    color: white;
    background: linear-gradient(#2FA866,#1A5C37);
 
}
header > h1{
    margin-bottom: 40px;
    font-size: 3rem;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgb(0, 0, 0,0.267);
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2rem;
    width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0,0.315);

}
main {
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.589);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
img{
    width: 100%;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);

}
main h2{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
.pequena {
    display: block;
    margin: auto;
    width: 50%;
}
nav{  
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.534);
    text-align: left;
    font-weight: bold;
    background-color: var(--cor4);
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--5);
}
nav > a{
    transition-duration: 0.5s;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
aside{
    border-radius: 5px;
    background-color: var(--cor1);
    box-sizing: border-box;
}

footer{
    background-color: var(--cor5);
    color: white;
}