@font-face{
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial,Helvetica,sans-serif;
    --fonte1: 'idroid', sans-serif;
}

header{
    color: white;
    background: linear-gradient(#2FA866,#1A5C37);
 
}
h2{
    font-weight: 300;
}
.titulo2{
    margin: 30px;
    padding: 5px;
}
nav{  
    text-align: right;
    font-weight: bold;
    display: inline;
    background-color: green;
    margin: 5px;
}
nav:hover{
    background-color: greenyellow;
}
a{
    
    color: rgb(90, 245, 90);
    text-decoration: none;
}
aside{
    background-color: var(--cor0);
    box-sizing: border-box;
}